<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>admin here</title>
<link rel="stylesheet" href="js/bootstrap/css/bootstrap.css" />
<style type="text/css">
.pagination {
	margin: 0!important;
}
#addform{
	position: absolute;width: 300px;height: 255px;
	opacity: 0.8;filter: alpha(opacity=80);
	background-color: #eee;padding:0 20px
}
</style>
</head>
<body>
<div id="app" class="container">
	<ol class="breadcrumb">
		<li><a href="#">酒店预订管理系统</a></li>
		<li><a href="#">管理员管理</a></li>
		<li><a href="#">{{action}}</a></li>
	</ol>
<div v-show="show">
	<h2 class="page-header">管理员展示</h2>
	<form class="form-inline" role="form">
		<button type="button" @click="deleteList" class="btn btn-danger">删除</button>
	</form>
	<hr>
	<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td align="center"><input type="checkbox" id="ck" name="ck" @click="allchecked()" v-model="checked" /></td>
			<th>账号</th>
			<th>姓名</th>
			<th>密码</th>
			<th>电话</th>
			<th>角色</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="(temp,i) in list">
			<td align="center"><input type="checkbox" id="dk" name="dk" :value="temp.loginid" v-model="loginids" /></td>
			<td>{{temp.loginid}}</td>
			<td>{{temp.name}}</td>
			<td>{{temp.loginpwd}}</td>
			<td>{{temp.tel}}</td>
			<td>{{temp.role}}</td>
			<td><a href="javascript:;" @click="toupdate(i, show=false, url='update', action='修改')" class="btn btn-primary btn-sm update-btn">修改</a>
				<a href="javascript:;" @click="deleteadmin(i)" class="btn btn-danger btn-sm del-btn" data-id="6">删除</a>
			</td>
		</tr>
	</tbody>
	</table>
	<div class="row">
		<div class="col-sm-4">
			<div id="pagerInfo">
				共{{total }}条数据，{{curpage }}/{{totalpage }}页，
				<select id="line" name="line" v-model="line">
					<option v-for="l in pagelist" :value="l">{{l}}</option>
				</select>行
			</div>
		</div>
		<div class="col-sm-8">
			<nav id="pagerNav">
	        	<ul class="pagination pagination-sm pull-right">
	        		<li><a href="javascript:void(0);" @click="curpage=1" id="firstBtn">首页</a></li>		
	        		<li><a href="javascript:void(0);" @click="curpage=(curpage<=1)?1:curpage-1" id="prevBtn">上页</a></li> 		        		
	        		<li><a href="javascript:void(0);" @click="curpage=(curpage>=totalpage)?totalpage:curpage+1" id="nextBtn">下页</a></li>               
	        		<li><a href="javascript:void(0);" @click="curpage=totalpage" id="lastBtn">末页</a></li>
	        	</ul>
	        </nav>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-sm-offset-8 col-sm-4">
			<a href="#" @click="toinsert(show=false, url='insert', action='录入')" class="btn btn-success btn-block">增加一条</a>
		</div>
	</div>
</div>
<div v-show="!show">
	<h2 class="page-header">管理员{{action}}</h2>
	<form id="form1" class="form-horizontal">
	<div class="form-group">
		<label for="" class="col-xs-2">账号</label>
		<div class="col-xs-10">
			<input type="text" id="loginid" name="loginid" v-model="admin.loginid" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">姓名</label>
		<div class="col-xs-10">
			<input type="text" id="name" name="name" v-model="admin.name" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">密码</label>
		<div class="col-xs-10">
			<input type="text" id="loginpwd" name="loginpwd" v-model="admin.loginpwd" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">电话</label>
		<div class="col-xs-10">
			<input type="text" id="tel" name="tel" v-model="admin.tel" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">角色</label>
		<div class="col-xs-10">
			<input type="text" id="role" name="role" v-model="admin.role" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input type="button"  :value="action" class="btn btn-success" id="addBtn" @click="modify"/>
			<input type="button"  value="取消" class="btn btn-muted" @click="show=true, url='list', action='数据列表'"/>
		</div>
	</div>
	</form>
</div>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var vm = new Vue({
	el: "#app",
	data: {
		show: true,
		msg: '',
		url: 'list',
		action: '数据列表',
		admin: {},
		list: [],
		checked : false,
		loginids : [],
		curpage : 1,
		total : 0,
		pagelist: [3,4,5],
		line: 3,
		aid1:''
	},
	created: function() {
		if(sessionStorage.admin==null){
			top.location = 'login.html'
		}else{
			axios.post("admin/selectTotal").then(res=>{
				this.total = res.data;
			})
			this.selectByPage(true);
		}
	},
	computed: {
		totalpage: function() {
			return parseInt((this.line-1+this.total)/this.line);
		},
		param: function() {
			return "page="+this.curpage+"&line="+this.line;
		}
	},
	watch: {
		curpage: function(newCurpage) {
			this.selectByPage();
		},
		line: function(newLine) {
			if(this.curpage>this.totalpage){
				this.curpage = this.totalpage;
			}else{
				this.selectByPage();
			}
		},
		total: function(newTotal) {
			if(this.curpage>this.totalpage && this.totalpage!=0){
				this.curpage = this.totalpage;
			}else{
				this.selectByPage();
			}
		}
	},
	methods: {
		selectOne11: function() {
			let that = this;
			axios.post("admin/selectOne1?loginid="+that.aid1).then(res=>{
				if(res.data){
					this.list = res.data;
				}else{
					this.list = [];
				}
			});
		},
		selectList: function() {
			this.curpage = 1;
		},
		selectByPage: function(first) {
			if(this.total==0){
				this.list = [];
				return;
			}
			axios.post("admin/selectByPage?"+this.param).then(res=>{
				this.list = res.data;
				this.allchecked();
			});
		},
		deleteadmin: function(i) {
			layer.confirm('确定要删除此管理员吗？', {
			    btn: ['确定','取消']
			}, ()=>{
				layer.closeAll();
				axios.post("admin/delete?loginid="+this.list[i].loginid).then(res=>{
					if(res.data=="1"){
						this.msg = "操作成功！";
						this.list.splice(i, 1);
						this.total -= 1;
					}else{
						this.msg = "操作失败！";
					}
					layer.msg(this.msg);
				})
			});
		},
		allchecked: function() {
			this.loginids = [];
			if(this.checked){
				for (var i = 0; i < this.list.length; i++) {
					this.loginids.push(this.list[i].loginid);
				}
			}
		},
		toinsert: function() {
			this.admin = {};
		},
		modify: function() {
			axios.post("admin/"+this.url, this.admin).then(res=>{
				if(res.data=="1"){
					this.msg = "操作成功！";
					if(this.url.lastIndexOf("insert")>=0){
						this.total += 1;
						this.admin = {};
					}else{
						this.selectByPage();
					}
				}else{
					this.msg = "操作失败！";
				}
				layer.msg(this.msg);
			})
		},
		toupdate: function(i) {
			this.admin = this.list[i];
		},
		deleteList: function() {
			if(this.loginids.length==0){
				this.msg = "必须选中一行！";
				layer.msg(this.msg);
				return;
			}
			layer.confirm('确定要删除已选管理员吗？', {
			    btn: ['确定','取消']
			}, ()=>{
				layer.closeAll();
				axios.post("admin/deleteList/"+this.loginids).then(res=>{
					if(res.data=="1"){
						this.msg = "操作成功！";
						this.total -= this.loginids.length;
					}else{
						this.msg = "操作失败！";
					}
					layer.msg(this.msg);
				})
			});
		},
	}
})

</script>
</body>
</html>
