<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>types here</title>
<link rel="stylesheet" href="js/bootstrap/css/bootstrap.css" />
<style type="text/css">
.pagination {
	margin: 0!important;
}
#addform{
	position: absolute;width: 300px;height: 255px;
	opacity: 0.8;filter: alpha(opacity=80);
	background-color: #eee;padding:0 20px
}
</style>
</head>
<body>
<div id="app" class="container">
	<ol class="breadcrumb">
		<li><a href="#">酒店预订管理系统</a></li>
		<li><a href="#">房间类型管理</a></li>
		<li><a href="#">{{action}}</a></li>
	</ol>
<div v-show="show">
	<h2 class="page-header">房间类型展示</h2>
	<form class="form-inline" role="form">
		<button type="button" @click="deleteList" class="btn btn-danger">删除</button>
	</form>
	<hr>
	<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td align="center"><input type="checkbox" id="ck" name="ck" @click="allchecked()" v-model="checked" /></td>
			<th>编号</th>
			<th>名称</th>
			<th>数量</th>
			<th>图片</th>
			<th>介绍</th>
			<th>价格</th>
			<th>平米</th>
			<th>床数</th>
			<th>卫浴大小</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="(temp,i) in list">
			<td align="center"><input type="checkbox" id="dk" name="dk" :value="temp.tid" v-model="tids" /></td>
			<td>{{temp.tid}}</td>
			<td>{{temp.tname}}</td>
			<td>{{temp.num}}</td>
			<td><img :src="temp.image" width="80px" height="30px"/></td>
			<td>{{temp.ttext}}</td>
			<td>{{temp.price}}</td>
			<td>{{temp.area}}</td>
			<td>{{temp.bed}}</td>
			<td>{{temp.weiyu}}</td>
			<td><a href="javascript:;" @click="toupdate(i, show=false, url='update', action='修改')" class="btn btn-primary btn-sm update-btn">修改</a>
				<a href="javascript:;" @click="deletetypes(i)" class="btn btn-danger btn-sm del-btn" data-id="6">删除</a>
			</td>
		</tr>
	</tbody>
	</table>
	<div class="row">
		<div class="col-sm-4">
			<div id="pagerInfo">
				共{{total }}条数据，{{curpage }}/{{totalpage }}页，
				<select id="line" name="line" v-model="line">
					<option v-for="l in pagelist" :value="l">{{l}}</option>
				</select>行
			</div>
		</div>
		<div class="col-sm-8">
			<nav id="pagerNav">
	        	<ul class="pagination pagination-sm pull-right">
	        		<li><a href="javascript:void(0);" @click="curpage=1" id="firstBtn">首页</a></li>		
	        		<li><a href="javascript:void(0);" @click="curpage=(curpage<=1)?1:curpage-1" id="prevBtn">上页</a></li> 		        		
	        		<li><a href="javascript:void(0);" @click="curpage=(curpage>=totalpage)?totalpage:curpage+1" id="nextBtn">下页</a></li>               
	        		<li><a href="javascript:void(0);" @click="curpage=totalpage" id="lastBtn">末页</a></li>
	        	</ul>
	        </nav>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-sm-offset-8 col-sm-4">
			<a href="#" @click="toinsert(show=false, url='insert', action='录入')" class="btn btn-success btn-block">增加一条</a>
		</div>
	</div>
</div>
<div v-show="!show">
	<h2 class="page-header">房间类型{{action}}</h2>
	<form id="form1" class="form-horizontal">
	<div class="form-group">
		<label for="" class="col-xs-2">编号</label>
		<div class="col-xs-10">
			<input type="text" id="tid" name="tid" v-model="types.tid" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">名称</label>
		<div class="col-xs-10">
			<input type="text" id="tname" name="tname" v-model="types.tname" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">数量</label>
		<div class="col-xs-10">
			<input type="text" id="num" name="num" v-model="types.num" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">图片</label>
		<div class="col-xs-10">
			<input type="file" @change="setFengmian" id="fname" name="upload" class="form-control"/>
					
			<!-- <input type="file" id="image" name="upload" v-model="types.image" class="form-control"/> -->
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">介绍</label>
		<div class="col-xs-10">
			<input type="text" id="ttext" name="ttext" v-model="types.ttext" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">价格</label>
		<div class="col-xs-10">
			<input type="text" id="price" name="price" v-model="types.price" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">平数</label>
		<div class="col-xs-10">
			<input type="text" id="area" name="area" v-model="types.area" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">床数</label>
		<div class="col-xs-10">
			<input type="text" id="bed" name="bed" v-model="types.bed" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-xs-2">卫浴空间</label>
		<div class="col-xs-10">
			<input type="text" id="weiyu" name="weiyu" v-model="types.weiyu" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input type="button"  :value="action" class="btn btn-success" id="addBtn" @click="modify"/>
			<input type="button"  value="取消" class="btn btn-muted" @click="show=true, url='list', action='数据列表'"/>
		</div>
	</div>
	</form>
</div>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var vm = new Vue({
	el: "#app",
	data: {
		show: true,
		msg: '',
		url: 'list',
		action: '数据列表',
		types: {},
		list: [],
		checked : false,
		tids : [],
		curpage : 1,
		total : 0,
		pagelist: [3,4,5],
		line: 3,
		bfile:''
	},
	created: function() {
		axios.post("types/selectTotal").then(res=>{
			this.total = res.data;
		})
		this.selectByPage(true);
	},
	computed: {
		totalpage: function() {
			return parseInt((this.line-1+this.total)/this.line);
		},
		param: function() {
			return "page="+this.curpage+"&line="+this.line;
		}
	},
	watch: {
		curpage: function(newCurpage) {
			this.selectByPage();
		},
		line: function(newLine) {
			if(this.curpage>this.totalpage){
				this.curpage = this.totalpage;
			}else{
				this.selectByPage();
			}
		},
		total: function(newTotal) {
			if(this.curpage>this.totalpage && this.totalpage!=0){
				this.curpage = this.totalpage;
			}else{
				this.selectByPage();
			}
		}
	},
	methods: {
		setFengmian: function(event) {//使用type=file
			this.bfile = event.target.files[0];
		},
		selectList: function() {
			this.curpage = 1;
		},
		selectByPage: function(first) {
			if(this.total==0){
				this.list = [];
				return;
			}
			axios.post("types/selectByPage?"+this.param).then(res=>{
				this.list = res.data;
				this.allchecked();
			});
		},
		deletetypes: function(i) {
			layer.confirm('确定要删除此房间类型吗？', {
			    btn: ['确定','取消']
			}, ()=>{
				layer.closeAll();
				axios.post("types/delete?tid="+this.list[i].tid).then(res=>{
					if(res.data=="1"){
						this.msg = "操作成功！";
						this.list.splice(i, 1);
						this.total -= 1;
					}else{
						this.msg = "操作失败！";
					}
					layer.msg(this.msg);
				})
			});
		},
		allchecked: function() {
			this.tids = [];
			if(this.checked){
				for (var i = 0; i < this.list.length; i++) {
					this.tids.push(this.list[i].tid);
				}
			}
		},
		toinsert: function() {
			this.types = {};
		},
		modify: function() {
			//创建formdata对象
			let formData = new FormData();
			//将表单里的文本信息，追加到formdata里
			let re = this.types;
			//遍历JSON对象，追加到formdata里  对象的key作为表单的name，value作为表单的值
			Object.keys(re).forEach((key) => {
				formData.append(key, re[key]);
			});
			//将文件传到formdata里
			formData.append('upload',this.bfile);
			
			axios.post("types/"+this.url,formData,{
				headers: {
					'content-type': 'multipart/form-data',
					
				}
			}).then((res)=>{
				if(res.data=="1"){
					this.msg = "操作成功！";
					if(this.url.lastIndexOf("insert")>=0){
						this.total += 1;
						this.types = {};
					}else{
						this.selectByPage();
					}
				}else{
					this.msg = "操作失败！";
				}
				layer.msg(this.msg);
			})
		},
		toupdate: function(i) {
			this.types = this.list[i];
		},
		deleteList: function() {
			if(this.tids.length==0){
				this.msg = "必须选中一行！";
				layer.msg(this.msg);
				return;
			}
			layer.confirm('确定要删除已选房间类型吗？', {
			    btn: ['确定','取消']
			}, ()=>{
				layer.closeAll();
				axios.post("types/deleteList/"+this.tids).then(res=>{
					if(res.data=="1"){
						this.msg = "操作成功！";
						this.total -= this.tids.length;
					}else{
						this.msg = "操作失败！";
					}
					layer.msg(this.msg);
				})
			});
		},
	}
})

</script>
</body>
</html>
